@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before,
  &:after {
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  width: 100%;
}

input,
select,
textarea,
button {
  outline: none;
}

.header,
.footer {
  text-align: center;
}

.header {
  &__top {
    background-color: #282d30;
    h1 {
      padding: get4BasedSize(2) 0;
      margin: 0 auto;
      width: 80%;
      max-width: 480px;
    }
  }
  &__bottom {
    p {
      font-size: get4BasedSize(11);
      font-weight: 700;
      margin: get4BasedSize(8) 0;
    }
  }
}

.main {
  max-width: $desktop;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.footer {
  color: #ffffff;
  background-color: #282d30;
  &__copyright {
    padding: 20px 0;
    font-size: 12px;
    span {
      display: block;
    }
  }
}

.visually-hidden {
  @include visually-hidden();
}
